
.topbar {
  /* min-width: calc(100vw - 245px); */
  width: calc(100vw - 230px);
  background: #ffffff;
  padding: 18px 24px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.8);
  box-shadow: 0 2px 6px rgba(0,0,0,0.04);
    display: flex;
  justify-content: space-between;
  /* overflow-x: scroll; */
}
.topbar h1 {
  font-size: 1.8rem;
  font-weight: 700;

  background: linear-gradient(157deg, #2563eb, #06b6d4);
  background-clip: text;             
  -webkit-background-clip: text;  

  color: transparent;              
  -webkit-text-fill-color: transparent;
  width: fit-content;

  margin: 0;
}

.topleft {
  display: flex;
  align-items: center;
  gap: 12px;
  transform: translateX(62px);
}
.topleft img,
.topleft p:first-child {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #e5edff;
  border: 1px solid #c7d4ff;
  color: #2563eb;
  font-weight: 700;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.topbar p {
  margin: 4px 0 0 0;
  font-size: 0.85rem;
  color: #6b7280;
}
.topleft p:last-child {
  font-size: 0.95rem;
  font-weight: 600;
  color: #374151;
  margin: 0;}

  .logout {
  opacity: 0;
  transform: translateX(10px);
  pointer-events: none;

  padding: 12px 18px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;

  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* Show smoothly on hover */
.topleft:hover .logout {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.topleft:hover{
  transform: translateX(-12px);
}

/* .topbar {
  width: 100%;
  background: #ffffff;
  padding: 14px 24px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.04);
}

.topright h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;

  background: linear-gradient(157deg, #2563eb, #06b6d4);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.topright p {
  margin: 4px 0 0 0;
  font-size: 0.95rem;
  color: #6b7280;
}

.topleft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.topleft img,
.topleft p:first-child {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #e5edff;
  border: 1px solid #c7d4ff;
  color: #2563eb;
  font-weight: 700;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.topleft p:last-child {
  font-size: 0.95rem;
  font-weight: 600;
  color: #374151;
  margin: 0;
} */
/* Hide logout button by default */
